<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

</head>
<body>

<h1> Главная страница!</h1>
<ul>
    <li>
        <a href = '/' class = class1>Главная страница</a>
    </li>
    <li>
        <a href = '/cars' class = class2>Авто</a>
    </li>
        <li>
        <a href = '/moto' class = class1>Мото</a>
    </li>
            <li>
        <a href = '/cars_form' class = class1>Авто с формой</a>
    </li>
</ul>

<form action = '/cars_form' method = 'post'>
    <input type = 'text' name = 'brand'/>
    <input type = 'text' name = 'price'/>
    <button type = 'submit'>Отправить</button>
</form>


</body>
</html>